<footer>
  <p>
    Copyright &copy; <%= Time.now.year %>
    <%= link_to 'blackerby', 'https://github.com/blackerby' %>
  </p>
  <p>
    <%= link_to 'Support', 'https://github.com/blackerby' %>
  </p>
</footer>